@import "/home/zukaabsandze/.cache/wal/colors";

@keyframes lowBatteryPulse {
  0%   { color: $color2;}
  50%  { color: red;    }
  100% { color: $color2;}
}

@keyframes medBatteryPulse {
  0%   { color: $color2; }
  50%  { color: #ffcc00; }
  100% { color: $color2; }
}

.statusBar {
  color: $color2;
  font-size: 20px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
}

.layout-box {
  background-color: $color0;
}

.top {
  padding: 5px
}

.center {
  padding: 5px;
}

.bottom {
  padding: 5px;
}

.clock-box {
    font-size: 20px;
}

.bat-box {
  font-size: 25px;
  margin: -1 6 -1 6;
}

.low-battery {
  animation: lowBatteryPulse 1s infinite;
  font-size: 25px;
  margin: -1 6 -1 6;
}

.med-battery {
  animation: medBatteryPulse 1s infinite;
  font-size: 25px;
  margin: -1 6 -1 6;
}

.charging {
  color: #23ff23;
  font-size: 25px;
  margin: -1 6 -1 6;
}

/* Volume */
.vol {
  font-size: 25px;
  margin: -1 6 -1 6;
}

.vol-muted {
  color: #ff0000;
  font-size: 25px;
  margin: -1 6 -1 6;
}

